<div id='map-container'></div>
<h1 class="title"><%= eventModel.escape('title')%></h1>
<%= eventModel.escape('location')%>
<%= eventModel.escape('date')%>
<p><%= eventModel.escape('description')%></p>
<% if (coord) {%>
  <a href='#/flocks/<%= eventModel.escape('id')%>/edit'>Edit Event</a>
<% }%><br>

<form class='search-form'>
  <label>Search for flocks within
    <select name="distance">
      <option value=5>5</option>
      <option value=15>15</option>
      <option value=25 selected>25</option>
      <option value=50>50</option>
      <option value=100>100</option>
    </select>
    miles of
    <input type='text' name='current_location'>
    <button class='search-location'>Search</button>
</form>
<hr>
<label>Coordinator
  <div class="coordinator"></div>
</label>
<label>New Flock
  <div class="flock-form-container"></div>
</label>
<label>Flocks
  <div class="flocks-index"></div>
</label>
<label>Attending
  <div class="attendees-index"</div>
</label>
