<div class='row'>
  <div class='event-info'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='event-info'>
          <h1 class="title"><%= eventModel.escape('title')%></h1>
          <div class='row'>
            <div class='col-xs-2'>Event Location:</div>
            <div class='col-xs-8'><%= eventModel.escape('location')%></div>
          </div>
          <div class='row'>
            <div class='col-xs-2'>Event Date:</div>
            <div class='col-xs-8'><%= eventModel.escape('date')%></div>
          </div>
          <div class='row'>
            <div class='col-xs-2'>Coordinator:</div>
            <div class='col-xs-8'>
              <a href='#/users/<%= coordinator.id%>'><%= coordinator.escape('username')%></a>
            </div>
          </div>
          <br>
          <p><%= eventModel.escape('description')%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <form class='search-form'>
    <label>Search for flocks within
      <select name="distance">
        <option value=50>25</option>
        <option value=50>50</option>
        <option value=100>100</option>
        <option value=200 selected>200</option>
        <option value=500>500</option>
        <option value=1000>1000</option>
      </select>
      miles of
      <input class='input-text' type='text' name='current_location'>
      <button class='location-query btn btn-sm btn-primary'>Search</button>
    </label>
  </form>
</div>
<hr>

<div role='tabpanel'>
  <ul class='nav nav-tabs' role='tablist'>
    <li role='presentation' class='active'><a href='#flocks'
      aria-controls='flocks' role='tab' data-toggle='tab'>Flocks</a></li>
    <li role='presentation'><a href='#attending' aria-controls='attending'
      role='tab' data-toggle='tab'>Attending</a></li>
      <% if (coord) {%>
        <li role='presentation' class='open-edit-modal'><a class='edit-event-form'
          role='tab'><div class='edit-form-container'></div></a></li>
      <% }%><br>
  </ul>
</div>

<div class='tab-content clearfix'>
  <div role='tabpanel' class='tab-pane active' id='flocks'>
    <div class='row'>
      <div class="flock-form"></div>
      <div class="flocks-index"></div>
    </div>
  </div>

  <div role='tabpanel' class='tab-pane' id='attending'>
    <div class='row'>
      <div class="attendees-index"</div>
    </div>
  </div>
</div>
