<div class='container-fluid'>
  <div class='row landing'>
    <div class='user-form-wrapper col-xs-4 col-xs-offset-1'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <form class= 'user-form' action="<%= session_url%>" method="POST">
          <input type="hidden" name="authenticity_token"
                 value="form_authenticity_token">

          <div class='form-group'>
            <label><h1>Sign In</h1></label>
            <ul class="errors">
              <% if flash[:errors]               %>
              <label>
              <%  flash[:errors].each do |error| %>
                  <li> <%= error %></li>
              <%  end                            %>
              </label>
              <% end                             %>
            </ul>
          </div>

          <div class='form-group'>
            <label class="username-input">Username
              <input type="text" class='form-control' name=user[username] placeholder="Username">
            </label>
          </div>

          <div class='form-group'>
            <label class="password-input">Password
              <input type="password" class='form-control' name=user[password] placeholder="Password">
            </label>
          </div>

          <div class='form-group'>
            <input class='btn btn-sm btn-primary pull-right' type="submit" value="Sign In">
          </div>
        </form>
      </div>

      <div class='panel-footer'>
        <a><%= link_to "Haven't Signed Up? Sign Up Here", new_user_url %></a>
      </div>
    </div>
    </div>

    <div class='jumbo-wrapper col-xs-6'>
      <div class="jumbotron">
        <h2>Why fly solo when you can flock?</h2>
        <p>Join a flock. Attend an event with your flock.</p>
        <h3>BUT WHY STOP THERE?</h3>
        <p>Join other flocks along the way and arrive at your desitination
           as an unstoppable force...</p>
           <form class= 'guest-user-form' action="<%= users_url%>" method="POST">
             <input type="hidden" name="authenticity_token"
                    value="form_authenticity_token">
             <input type="hidden" class='form-control' name=user[username] value='<%= Faker::Internet.user_name%>'>
             <input type="hidden" class='form-control' name=user[password] value="password">
             <div class='form-group'>
               <input class='btn btn-lg btn-primary tour-button' type="submit" value="Take a Tour">
             </div>
           </form>
      </div>
    </div>
  </div>
</div>
