<% if (!edit) {%>
<div class='form-button-wrapper col-xs-12 open-form'>
  <div class='form-button'>
    <div class="form-button-title">Start a Flock</div>
  </div>
</div>
<%} else {%>
  <div class='open-edit-modal'>Edit Flock</div>
<%}%>

<div class='modal fade' id='<%= id%>' tabindex=-1 role='dialog'
  aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content col-xs-8 col-xs-offset-2">
      <div class="modal-header">
        <label "form-title"><%= title%></label>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class='modal-body'>
        <form>
          <ul class='error-list'></ul>
          <div class='form-group'>
            <label>Title
            <input type="text" class="flock-title form-control"
              name="flock[title]" placeholder='SF to Burning Man'
              value="<%= flock.escape('title')%>"></input>
            </label>
          </div>

          <div class='form-group'>
            <label>Date
            <input type="date" class="flock-date form-control"
              name="flock[date]" value='<%= flock.escape('date')%>'
              min='<%= minDate%>' max='<%= maxDate%>'>
            </label>
          </div>

          <div class='form-group'>
            <label>Location
            <input type="text" class="flock-location form-control"
              name="flock[location]" placeholder='San Francisco, CA'
              value='<%= flock.escape('location')%>'>
            </label>
          </div>

          <div class='form-group'>
            <label>Description
            <textarea class="flock-description form-control"
              name="flock[description]"><%= flock.escape('description')%></textarea>
            </label>
          </div>
        </form>
      </div>

      <div class='modal-footer'>
        <button type='button' class='upload-photo btn btn-sm btn-primary pull-left'><%= photoButton%></button>
        <button type='button' class="submit btn btn-primary btn-sm"><%= button%></button>
      </div>
    </div>
  </div>
</div>
