<% if (!edit) {%>
<div class='index-item col-xs-12 col-sm-6 col-md-4 open-form'>
  <div class='item-card'>
    <div class="title card-title">Start a Flock</div>
  </div>
</div>
<%} else {%>
  <a class='open-edit-modal'>Edit Flock</a>
<%}%>

<div class='modal fade' id='<%= id%>' tabindex=-1 role='dialog'
  aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <form>
          <ul class='error-list'></ul>
          <div class='form-group'>
            <label>Title
            <input type="text" class="flock-title form-control"
              name="flock[title]" placeholder='Is a title necessary?'
              value="<%= flock.escape('title')%>"></input>
            </label>

            <label>Date
            <input type="text" class="flock-date form-control"
              id="datepicker" name="flock[date]"
              value='<%= flock.escape('date')%>'>
            </label>

            <label>Location
            <input type="text" class="flock-location form-control"
              name="flock[location]" placeholder='San Francisco, CA'
              value='<%= flock.escape('location')%>'>
            </label>
          <div/>

          <div class-'form-group'>
            <label>Description<br>
            <textarea class="flock-description form-control"
              name="flock[description]"><%= flock.escape('description')%></textarea>
            </label><br>
          <div/>
        </form>
      </div>
      <div 'modal-footer'>
        <button type='button' class="submit btn btn-primary btn-sm"><%= button%></button>
      </div>
    </div>
  </div>
</div>
