<div class='circle help-button fixed'></div>
<div class='row info-map'>
  <div class='col-xs-12 col-sm-6'>
    <div id='flock-map-container'></div>
  </div>

  <div class='col-xs-12 col-sm-6'>
    <div role='tabpanel'>
      <ul class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='active'><a href="#info" class='flock'
            aria-controls='flocks' role='tab' data-toggle='tab'>Flock Details</a></li>
        <li role='presentation'><a id="sub-flocks" href="#flocks" class='flock'
            aria-controls='flocks' role='tab' data-toggle='tab'>Sub-Flocks</a></li>
        <% if (false) {%>
        <li role='presentation'><a href='#attending' aria-controls='attending' class='flock'
            role='tab' data-toggle='tab'>Attending</a></li>
        <% }%>
        <% if (flock.escape('parent_id')) {%>
        <li role='presentation'><a href='#/flocks/<%= flock.escape('parent_id')%>'
            class='flock' role='tab'>Meet Up With...</a></li>
        <% }%>
        <% if (coord) {%>
        <li role='presentation' class='open-edit-modal'><a aria-controls='edit-flock'
            class='flock' role='tab'><div class='edit-form-container'></div></a></li>
        <%}%>
      </ul>

      <div class='tab-content clearfix show-content'>
        <div role='tabpanel' class='tab-pane active' id='info'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='flock-info'>
                <h1 class="title"><%= flock.escape('title')%></h1>
                <div class='row'>
                  <div class='col-xs-4'>Meeting Place:</div>
                  <div class='col-xs-8'><%= flock.escape('location')%></div>
                </div>
                <br>
                <div class='row'>
                  <div class='col-xs-4'>Meeting Date:</div>
                  <div class='col-xs-8'><%= flock.escape('date')%></div>
                </div>
                <br>
                <div class='row'>
                  <div class='col-xs-4'>Coordinator:</div>
                  <div class='col-xs-8'>
                    <a href='#/users/<%= coordinator.id%>'><%= coordinator.escape('username')%></a>
                  </div>
                </div>
                <br>
                <div class='row'>
                  <div class='col-xs-4'>Event:</div>
                  <div class='col-xs-8'>
                    <a href='#/events/<%= eventModel.id%>'><%= eventModel.escape('title')%></a>
                  </div>
                </div>
                <br>
                <br>
                <p><%= flock.escape('description')%></p>
              </div>
            </div>
          </div>
        </div>

        <div role='tabpanel' class='tab-pane' id='flocks'>
          <div class='flock-tab-scrollable'>
            <div class='row'>
              <div class='col-xs-12'>
                <div class="subflock-form"></div>
                <div class="sub-flocks-index"></div>
              </div>
            </div>
          </div>
        </div>

        <% if (false) {%>
        <div role='tabpanel' class='tab-pane' id='attending'>
          <div class='row'>
            <div class="attendees-index"></div>
          </div>
        </div>
        <% }%>
      </div>
    </div>
  </div>

</div>
<div class='row'>
  <div class='join-button'></div>
</div>
