<div id='map-container'></div>
<div class='subflock-form-container'></div>

<div class='row'>
  <div class='col-xs-12'>
    <div class='event-info'>
      <h1 class="title"><%= flock.escape('title')%></h1>
      <%= flock.escape('location')%>
      <%= flock.escape('date')%>s
      <p><%= flock.escape('description')%></p>

      <label class='coord-description'>Coordinator
        <div class="coordinator"></div>
      </label>

    </div>
  </div>
</div>

<div role='tabpanel'>
  <ul class='nav nav-tabs' role='tablist'>
    <li role='presentation' class='active'><a href="#flocks"
        aria-controls='flocks' role='tab' data-toggle='tab'>Flocks</a></li>
    <li role='presentation'><a href='#attending' aria-controls='attending'
        role='tab' data-toggle='tab'>Attending</a></li>
    <li role='presentation'><a href='#/events/<%= flock.escape('event_id')%>'
        role='tab'>Event Page</a></li>
    <% if (flock.escape('parent_id')) {%>
    <li role='presentation'><a href='#/flocks/<%= flock.escape('parent_id')%>'
        role='tab'>Meet Up With...</a></li>
    <% }%>
    <li role='presentation'><a aria-controls='join-flock'
        role='tab'><div class='join-button'></div></a></li>
    <% if (coord) {%>
    <li role='presentation' class='open-edit-modal'><a aria-controls='edit-flock'
        role='tab'><div class='edit-form-container'></div></a></li>
    <%}%>
  </ul>

  <div class='tab-content clearfix'>
    <div role='tabpanel' class='tab-pane active' id='flocks'>
      <div class="subflock-form"></div>
      <div class="sub-flocks-index"></div>
    </div>
    <div role='tabpanel' class='tab-pane' id='attending'>
      <div class="attendees-index"></div>
    </div>
  </div>
</div>
