<!DOCTYPE html>
<html>
<head>
  <title>flockTo</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script>
    <% if current_user%>
      window.CURRENT_USER_ID = <%= current_user.id%>
    <% end%>
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      multiple: false,
      theme: 'minimal'
    };
  </script>
  <script type="text/javascript" src="/../assets/guest.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= yield %>
</body>
</html>
